<div class="modal fade modal-xl " id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="edicaoModal">
      <div class="modal-header text-white bg-dark ">
        <div class="nomePersonagem"></div>
        <button type="button bg0" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick=limpar()
          style="background-color: white;"></button>
      </div>
      <div class="modal-body text-white bg-dark">

        <div class="row g-0">
          <div class="col-md-4">
            <div class="imagemPersonagem" id="imagemModal"></div>
          </div>
          <div class="col-md-8">
            <div class="card-body" id="textoModal">
              <h5 class="card-title" id="subtitulo">S O B R E</h5>
              <div class="sobrePersonagem"></div>
              <h5 class="card-title" id="subtitulo">O R I G E M </h5>
              <div class="sobreOrigem"></div>
              <h5 class="card-title" id="subtitulo">L O C A L I Z A Ç Ã O</h5>
              <div class="sobreLocalizacao"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>